# Archivos de configuración de Streamlit y secretos
.streamlit/secrets.toml
secrets.toml
*.env
.env

# Entornos virtuales de Python (Ignora la carpeta donde instalas tus librerías locales)
venv/
.venv/
env/
ENV/

# Archivos compilados de Python (Se generan automáticamente, no necesitas subirlos)
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema operativo (Archivos ocultos que generan Windows o Mac)
.DS_Store
Thumbs.db